
a:link {
    color: blue;
    text-decoration: none;
}


a:visited {
    color: purple;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: green;
}



.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.nav-menu li {
    display: inline-block;
    margin-right: 20px;
}


.event-list {
    list-style-type: square;
    list-style-position: inside;
}

.event-list li {
    padding: 10px;
    margin: 5px 0;
}